extends container
block content
    div
        h3 Dear #{userName}
        div You have not visited the site for 10 days.
            br
            | It's time to take a look at the news
            a(href=frontendUrl) Visit our site
    div

